//Colaboradores.less
@import "variables.less";

.pub-colaboradores {
    width: 100%;
    display: inline-block;

    .pub-inner {
        width: 100%;
        margin-top: 55px;
        position: relative;

        .tabs-group {
            border-bottom: 1px solid @gris-1;
            width: 100%;
            float: left;

            .btn-agregar-equipo {
                margin-left: 15px;
                display: inline-block;

                .icn {
                    width: 31px;
                    height: 30px;
                    margin: 0px;
                    line-height: 21px;
                    text-align: center;
                }

                span {
                    position: relative;
                    margin: 5px 7px;
                    float: left;
                    color: @colorTexto;
                }
            }

            .tabs {
                display: inline-flex;
                float: left;



                .tab {
                    border-bottom: 4px solid;
                    padding: 5px 10px 7px 15px;
                    font-size: 15px;
                    margin-right: 10px;
                    position: relative;
                    float: left;
                    cursor: pointer;
                    opacity: 0.5;

                    &.active {
                        opacity: 1;
                    }

                    .editar {
                        font-size: 16px;
                        margin-left: 5px;
                    }

                    .tab-name {
                        position: relative;

                        &.error-tab:after {
                            content: "";
                            width: 10px;
                            height: 10px;
                            border-radius: 20px;
                            position: absolute;
                            top: -4px;
                            left: -5px;
                            background: red;
                        }
                    }

                    .box-tab-color {
                        position: absolute;
                        z-index: 5;
                        width: 132px;
                        padding-left: 3px;
                        height: 28px;
                        border-radius: 3px;
                        top: 5px;
                        left: 71px;
                        background: #ffffff;
                        border: 1px solid #ccc;
                        display: none;

                        .btn-color-select {
                            width: 21px;
                            height: 18px;
                            border-radius: 3px;
                            display: inline-block;
                            margin: 4px 2px;
                        }
                    }



                    .btn-color {
                        position: absolute;
                        width: 18px;
                        height: 18px;
                        top: 10px;
                        left: 77px;
                        border-radius: 3px;
                        display: none;
                        z-index: 3;

                        &.on {
                            display: inline-block;
                        }
                    }

                    .input-equipo {
                        width: 132px;
                        border-radius: 4px;
                        border: 1px solid @gris-1;
                        padding: 3px 5px 2px 5px;
                        margin-left: 5px;
                        padding-left: 28px;
                        z-index: 0;
                    }
                }
            }
        }

        .boxContainer {
            float: left;
            width: 100%;
            margin-top: 25px;

            .box-agregar-colb {
                float: right;
                display: inline-block;

                span {
                    float: left;
                    margin-left: 10px;
                    margin-top: 5px;
                }
            }

            .contentTab {
                display: none;
                width: 100%;

                &.active {
                    display: inline-block;
                }

                .boxItems {
                    width: 78%;
                    float: left;

                    .item {
                        display: flex;
                        width: 100%;
                        margin-bottom: 10px;
                        padding-right: 18px;
                        position: relative;

                        .btn-eliminar-colaborador {
                            position: absolute;
                            right: 0;
                            margin-right: 5px;
                            margin-top: 4px;

                            i {
                                font-size: 21px;
                            }
                        }

                        .form-control {
                            width: 35%;
                            margin-right: 5px;
                        }

                        .form-nombre {
                            width: 39.7%;
                        }

                        .form-group {
                            width: 22%;
                            margin-bottom: 0px;

                            .form-control {
                                width: 100%;
                            }
                        }
                    }


                }

            }
        }
    }
}

.btn-eliminar-colaborador,
.btn-eliminar-equipo {

    i {

        border-radius: 20px;
        color: #3b7db9;
        /* border: 1px solid #b1b2b9; */
        font-size: 18px;
        margin-top: 1px;
        margin-left: 3px;
        width: 22px;
        height: 20px;
        text-align: center;
        line-height: 16px;
        padding-right: 0;
        padding-top: 1px;
        float: right;

        &:hover {
            border-color: @rojo;
            color: @rojo-1;
        }
    }
}