@color-bg: #fff;

@blanco: #FFFFFF;
@azul: #536DAC;
@azul-a: #8198C7;
@azul-b: #44688f;
@azul-c: #4a90e2;
@verde: #5dbb7a;
@verde-a: #349251;
@verde-b: #4be279;

@verde-alerta: #5dbb7a;
@naranja-alerta: #f89406;
@rojo-alerta: #ee5f5b;
@celeste-alerta: #5bc0de;

@negro: #33364D;

@gris: #717281;
@gris-1: #b1b2b9;
@gris-a: #F3F3F7;
@gris-b: #b3bfe0;
@gris-c: #737898;

@lila: #6D589B;
@rojo: #BE497C;
@rojo-1: #BD2C1F;
@naranja: #D48143;
@amarillo: #E2B042;


@celeste-1: #2ce7ff;
@celeste-2: #00BCD4;
@celeste-3: #6DD5DA;


@colorTexto:#616161;