@import "color.less";

.navApp {
    width: 100%; // height: 100vh; // border:1px solid red;
    display: inline-block;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    z-index: 100;

    width: 100%;
    height: 55px;
    background-color: @azul-b;

    .nav-inner {
        padding-right: 25px;
        padding-left: 25px;

        .nav-brand {
            width: 85px;
            height: 35px;
            margin-top: 11px;
            margin-left: -10px;
            float: left;
            text-align: left;
        }

        .nav-right {
            float: right;
            display: inline-block;
            position: relative;
        }
    }
}

.perfil {
    display: flex;
    margin-top: 12px;

    .name {
        color: @blanco;
        margin-top: 6px;
        margin-left: 10px;
    }

    .img-user {
        background-color: @gris-1  !important;
        background-size: cover !important;
        width: 30px;
        height: 30px;
        border-radius: 40px;
        display: inline-block;
    }
}