//Title.less
@import "variables.less";

.Title {
    padding-bottom: 20px;
    display: inline-block;
    width: 100%;
    float: left;

    .inner {

        h1 {
            float: left;
            margin-bottom: 4px;
        }

        .descripcion {
            float: left;
            width: 100%;
            display: inline-block;
        }

        .boxBtnAyuda {
            float: left;
            margin-top: 29px;
            margin-left: 10px;
            position: relative;

            a {
                width: 23px;
                height: 23px;
                display: inline-block;
                position: relative;

                .font-bold();

                span {
                    position: absolute;
                    top: 1px;
                    left: 7px;
                }
            }
        }
    }
}