@import "color.less";

@height-nav: 100px;
@border-btn: 5px;
@z-index-nav: 10;


.font-regular() {
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 400;
}

.font-light() {
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 200;
}

.font-bold() {
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 700;
}

.border(@x) {
    border: 1px solid @x;
}

.border-radius(@x) {
    border-radius: @x;
}

// general
* {
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

body {
    background-color: @blanco;
    .font-regular();
    font-size: 13px;
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container-fluid {
    width: 100%;
}

a {
    cursor: pointer;
}

.container {
    width: 1024px;
    margin-right: auto;
    margin-left: auto; // display: inline-block;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}



.btn {
    background: #fbfcfd;
    color: #777;
    border: 1px solid transparent;
    display: inline-block; //background-color: #2b88d9;
    //border: none;
    //color: #fff;
    padding: 7px 11px;
    -webkit-border-radius: @border-btn;
    border-radius: @border-btn; // margin-right: 10px;
    // margin-top: 10px;
    text-decoration: none;
    font-size: 14px; // font-weight: 700;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &:hover {
        background-color: #adadad; // opacity: 0.7;
        color: @blanco;
    }
}

.btn-primary {
    background-color: @azul;
    color: @blanco;

    &:hover {
        background-color: @azul-a  !important;
        color: @blanco  !important;
    }
}

.btn-info {
    background-color: @celeste-3;
    color: @blanco;

    &:hover {
        background-color: @celeste-1  !important;
        color: @blanco  !important;
    }
}

.btn-info-o {
    background-color: @celeste-2;
    border: 1px solid @celeste-1;
    box-shadow: 1px 1px 5px 0 @gris-b;

    &:hover {
        background-color: #00BCD4;
        color: white;
    }
}

.btn-success {
    background-color: @verde;
    color: @blanco;

    &:hover {
        background-color: @verde-a  !important;
        color: @blanco  !important;
    }
}

.btn-success-o {
    border: 1px solid @verde-b;
    box-shadow: 1px 1px 5px 0 @verde;
}

.btn-full {
    background: transparent !important;
    border: 1px solid;
    color: @blanco;
    border-color: rgba(255, 255, 255, .56);
    .border-transparente();

    &:hover {
        background-color: #adadad !important;
        color: @blanco;
    }
}

.btn-link {
    background: transparent !important;
    border-color: transparent !important;

    &:hover {
        color: #000;
        text-decoration: underline;
    }
}

.btn-rounded {
    padding: 3px 4px 4px 4px;
    color: #fff;
    border-radius: 30px;
    float: left;
    margin: 3px 0 5px 10px;

    i {
        margin-top: 1px;
        float: left;
    }
}

.btn-volver-page {
    margin-top: 70px;
    display: inline-block;
    margin: 100px 20px 20px;
    float: left;

    .icon {
        border: 1.3pt solid #bfc7c6;
        color: #bfc7c6;
        background: white;
        font-size: 16px;
        padding: 10px 8px 8px 7px;
        border-radius: 30px;
    }
}

.btn-circle {
    border-radius: 100px;
}

.border-transparente() {
    border-color: rgba(255, 255, 255, 0.56);
}

.icon-facebook-squared {
    color: #3351A2;
}

.icon-whatsapp {
    color: #1DE663;
}


.icon-instagram {
    color: #EA0031;
}

.is-valid {
    border-color: #1DE663;
}

.is-invalid {
    border-color: #EA0031;
}

.disabled {
    pointer-events: none;
    opacity: .4 !important;
}


.error {
    border: 2px solid #efa8a8;
}


textarea:focus,
input:focus,
*:focus {
    outline: none;
}

a,
input,
button {
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}



.boxAlert {
    position: fixed;
    margin: 0px;
    z-index: 200;
    width: 35%;
    height: auto;
    // min-height: 48px;
    display: block;

    &.bottom-left {
        bottom: 20px;
        right: 20px;
    }

    &.top-left {
        top: 70px;
        right: 20px;
    }

    .m-alert {
        position: relative;
        margin: 0px 0px 6px 0px;
        z-index: 200;
        width: 100%;
        height: auto;
        min-height: 48px;
        display: inline-block;
        border-radius: 5px;
        padding-bottom: 10px;
        box-shadow: 0 0 7px 2px rgba(86, 118, 154, .25);

        // &.m-alert-num-1 {
        //     top: 130px;
        // }

        &.bottom-left {
            bottom: 20px;
            right: 20px;
        }

        &.top-left {
            top: 70px;
            right: 20px;
        }

        &.m-alert-success {
            background: @verde-alerta;
            color: @blanco;
            box-shadow-color: rgba(58, 156, 77, .25);
        }

        &.m-alert-warning {
            background: @naranja-alerta;
            color: @blanco;
            box-shadow-color: rgba(151, 102, 38, .25);
        }

        &.m-alert-danger {
            background: @rojo-alerta;
            color: @blanco;
            box-shadow-color: rgba(150, 27, 27, .25);
        }

        &.m-alert-info {
            background: @celeste-alerta;
            color: @blanco;
            box-shadow-color: rgba(55, 132, 152, .25);
        }

        .icon {
            font-size: 21px;
            margin: 10px 0px 0px 8px;
            display: inline-block;
            float: left;
        }

        .text {
            float: left;
            width: 80%;
            margin-top: 16px;
            margin-left: 5px;
        }
    }
}

.btnSigAnt {
    position: fixed;
    background-color: @blanco;
    bottom: 0;
    width: 100%;
    height: 70px;
    z-index: 100;
    border-top: 1px solid @gris-1;

    .btn {
        background-color: @azul-c;
        margin-top: 16px;
        padding-left: 20px;
        padding-right: 35px;
        font-weight: 700;

        &:hover {
            background-color: @azul;
        }
    }

    .icn {
        font-size: 18px;
        position: absolute;
        top: 5px;
    }

    .btnSig {
        float: right;

        .icn {
            right: 5px;
        }
    }

    .btnAnt {
        float: left;

        .icn {
            left: 5px;
        }
    }

    .btnSaltar {
        float: right;
    }
}