<!--  agregar boton -->
<div class='tab' item='#id#' style='border-color:#color#'>
	<span class='tab-item tab-name' item='#id#'>Equipo</span>
	<span class='nombre-equipo tab-item' item='#id#'>#id#</span>
	<div class='box-tab-color tab-item' item='#id#' ></div>
	<a class='btn-color' item='#id#' style='background-color:#color#'></a>
	<input type='hidden' item='#id#' class=' inputColor' value='#color#'> 
	<input type='hidden' item='#id#' class=' input-equipo' value='#id#'> 
	<a class='editar btn-editar-equipo' item='#id#'><i class='icn icn-pencil'></i></a>
	<a class='eliminar btn-eliminar-equipo' item='#id#'><i class='icn icn-close-circle'></i></a>
</div>